@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-color: black;
    justify-content: center;
}

.container {
    width: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer, .hero, .info, .call {
    width: 100%;
}
.header .links ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.header .links ul li a {
    text-decoration: none;
}

.header .links ul li a, .hero .first p {
    font-size: 18px;
    color: #e5e7eb;
}
.hero, .footer {
    background-color: #1f2937;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
}

.square {
    border: 4px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.item {
    /*border: 3px solid red;*/
    width: 160px;
    height: auto;
}

.hero .first h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

button, .rectangle {
    background-color: #3882f6;
    border-radius: 4px;
}

.info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 30px 0;
}

.quote {
    background-color: #e5e7eb;
}

.quote .quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

button, .hero .first .image {
    color: white;
}

.hero .first .image {
    background-color: gray;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call, .footer {
    color: white;
}

.first-left button {
    border: none;
    margin-top: 5px;
}

button {
    padding: 5px 25px;
}

.right-button button {
    border: 1px solid white;
}

.rectangle, .header, .first {
    height: auto;
    width: 75%;
}

.hero, .info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.first {
    display: flex;
    /*gap: 30px;    */ /* it moves the image to the right */
    justify-content: space-between;
    padding: 100px 0;
}

.first-left, .first-right {
    width: 48%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.item p {
    text-align: center;
}