* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
}
.header .links ul {
    list-style-type: none;
}

.header .links ul li a {
    text-decoration: none;
}