@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}
.header .links ul {
    list-style-type: none;
}

.header .links ul li a {
    text-decoration: none;
}

.header .links ul li a, .hero .first p {
    font-size: 18px;
    color: #e5e7eb;
}
.hero, .footer {
    background-color: #1f2937;
}

.header .logo {
    font-size: 24px;
    color: #f9faf8;
}

.square {
    border: 3px solid #3882f6;

}

.item {
    border: 3px solid red;
}

.hero .first h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

button, .rectangle {
    background-color: #3882f6;
}

.info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote {
    background-color: #e5e7eb;
}

.quote .quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}

button, .hero .first .image {
    color: white;
}

.hero .first .image {
    background-color: gray;
}

.call, .footer {
    color: white;
}